.hide-print {
	display: none;
}

@page {
	margin: 0;
}

#item-list {
	margin-top: 50px;
}

invoice-total {
	position: relative;
	top: 50px;
	right: 0px;
}

invoice-total {
	float: right;
}

invoice-total span.pull-right {
	margin-left: 50px;
}

#item-list thead tr {
	border-bottom: 3px solid black;
}

/*#item-list tbody, #item-list thead {
	border-left: 1px solid black;
	border-right: 1px solid black;
}*/