<div class="col-lg-4 col-lg-offset-8">
	<p>Sous-total : <span class="pull-right">{{ subTotal }} {{ opt.devise }}</span></p>
	<p>TVA : <span class="pull-right">{{ totalTva }} {{ opt.devise }}</span></p>
	<p>Total général : <span class="pull-right">{{ total }} {{ opt.devise }}</span></p>
	<p>Total payé : <span class="pull-right">{{ opt.paid }} {{ opt.devise }}</span></p>
	<p><strong><em>Total du : </em></strong><span class="pull-right">{{ Math.round((total - opt.paid) * 100) / 100 }} {{ opt.devise }}</span></p>
</div>