<md-bottom-sheet class="mb">
	<div class="col-lg-4 col-lg-offset-1">
		<div>
			<h2 class="text-center">Créancier</h2>
			<md-content layout-padding layout="column" layout-sm="column" class="col-xs-6">
			    <md-input-container class="col-xs-12">
			    	<label>Dénomination</label>
			    	<input ng-model="seller.name">
			    </md-input-container>
		  	</md-content>
		  	<md-content layout-padding layout="column" layout-sm="column" class="col-xs-6">
			    <md-input-container class="col-xs-12">
			    	<label>N° de SIRET</label>
			    	<input ng-model="seller.siret">
			    </md-input-container>
		  	</md-content>
		 	<md-content layout-padding layout="row" layout-sm="column" class="col-xs-12">
		 		<md-input-container flex class="col-xs-12">
		        	<label>Adresse</label>
		        	<input ng-model="seller.address">
		      	</md-input-container>
		    </md-content>
		    <md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		        <md-input-container flex class="col-xs-12">
		         	<label>Ville</label>
		         	<input ng-model="seller.city">
		        </md-input-container>
		    </md-content>
		    <md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		        <md-input-container flex>
		          	<label>Code postal</label>
		         	<input ng-model="seller.zipcode">
		        </md-input-container>
		 	</md-content>
		 	<md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		 		<md-input-container flex>
		         	<label>Pays</label>
		         	<input ng-model="seller.country">
		        </md-input-container>
		 	</md-content>
		</div>
	</div>
	<div class="col-lg-4 col-lg-offset-1">
		<div>
			<h2 class="text-center">Destinataire</h2>
			<md-content layout-padding layout="row" layout-sm="column" class="col-xs-12">
			    <md-input-container class="col-xs-12">
			    	<label>Dénomination</label>
			    	<input ng-model="client.name">
			    </md-input-container>
		  	</md-content>
		 	<md-content layout-padding layout="row" layout-sm="column" class="col-xs-12">
		 		<md-input-container flex class="col-xs-12">
		        	<label>Adresse</label>
		        	<input ng-model="client.address">
		      	</md-input-container>
		    </md-content>
		    <md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		        <md-input-container flex class="col-xs-12">
		         	<label>Ville</label>
		         	<input ng-model="client.city">
		        </md-input-container>
		    </md-content>
		    <md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		        <md-input-container flex>
		          	<label>Code postal</label>
		         	<input ng-model="client.zipcode">
		        </md-input-container>
		 	</md-content>
		 	<md-content layout-padding layout="row" layout-sm="column" class="col-xs-4">
		 		<md-input-container flex>
		         	<label>Pays</label>
		         	<input ng-model="client.country">
		        </md-input-container>
		 	</md-content>
		</div>
	</div>
</md-bottom-sheet>